section#about.about
  .top-about(data-aos="fade-down", data-aos-delay="300")
    h5 2020
    h5 Abdullah M. Ramdan
  .container
    .profile-img(data-aos="fade-right", data-aos-delay="300")
      img(src="imgs/me.jpg", alt="Me")
    .about-details(data-aos="fade-left", data-aos-delay="600")
      .about-me
        h2 About me
        p Hi, my name is #[strong Abdullah Mohammed Ramadan (Fajr) .] I am #[strong Muslim] I was born #[strong Oct, 1 1999.] Developer person with abilities in #[strong Front-end.] I started studying front-end development partly because of my passion since I was in the high school. Skills include developing, and creative problem solving. Hungery to be the best, to contribute and make changes in the company and community, develop vastly in creativity.
      .techniques
        .heading
          h4 Techniques
        .icons
          img(src="imgs/icons/html.png", alt="HTML5")
          img(src="imgs/icons/pug.png", alt="Pugjs")
          img(src="imgs/icons/css.png", alt="CSS3")
          img(src="imgs/icons/sass.png", alt="Sass")
          img(src="imgs/icons/bootstrap5.png", alt="Bootstrap")
          img(src="imgs/icons/tailwind.svg", alt="Tailwind")
          img(src="imgs/icons/js.png", alt="JavaScript")
          img(src="imgs/icons/jquery.png", alt="jQuery")
          img(src="imgs/icons/vue.png", alt="Vue")
          img(src="imgs/icons/ajax.png", alt="AJAX")
          img(src="imgs/icons/json.png", alt="JSON")
          img(src="imgs/icons/gulp.png", alt="Gulpjs")
      .languages
        .heading
          h4 Languages
        ul
          li Arabic
          li English
          li French (Basic)
      .education
        .heading
          h4 Education
        .edu
          ul
            li Governmental High School
            li The martyr Muhammad Al-Qurni #[br] Abdul-Karim High School
            li 2014 - 2018
          ul
            li Commerce College
            li Beni Suef University
            li 2018 - 2019
          ul
            li English Department, Faculty of Arts
            li Minia University
            li 2019 - 2020
          ul
            li Psychology Department, Faculty of Arts
            li Minia University
            li 2020 - Today
      .contact
        .heading
          h4 Contact
        .cont
          ul
            li Email
            li: a(href="mailto:zekas.flower@gmail.com") zekas.flower@gmail.com
          ul
            li Github
            li: a(href="https://github.com/zekasflower") Github.com/zekasflower
          //- ul
            li Facebook
            li: a(href="https://www.facebook.com/zekas.flower") Facebook.com/zekas.flower
          ul
            li Freelancer
            li: a(href="https://www.freelancer.com/u/zekasflower") Freelancer.com/u/zekasflower
          ul
            li Behance
            li: a(href="https://www.behance.net/zekasflower") Behance.net/zekasflower