section#contents.contents
  .top-content(data-aos="fade-down", data-aos-delay="300")
    h5 2020
    h5 Abdullah M. Ramdan
  h2(data-aos="fade-in", data-aos-delay="300") Table of Works
  .conts(data-aos="fade-in", data-aos-delay="600")
    h3: a(href="#obTravel") #[span 01] OB Travel
    h3: a(href="#flowersStore") #[span 02] Flowers Store
    h3.ar: a(href="#govServices") #[span 03] مصالح
    h3.ar: a(href="#fedTransport") #[span 04] الهيئة الإتحادية
    h3: a(href="#larry") #[span 05] Larry
    h3: a(href="#mobile") #[span 06] Mobile Work