section#fedTransport.fed-transport
  .top-fed-transport(data-aos="fade-down", data-aos-delay="300")
    h5 4/6
    h5 الهيئة الإتحادية
  .heading(data-aos="fade-left", data-aos-delay="300")
    h2 الهيئة الإتحادية للمواصلات البرية والبحرية
  .fed-transport-description(data-aos="fade-left", data-aos-delay="500")
    p منظومة نقل بري وبحري رائد لنمو مستدام
  .fed-transport-gallery(data-aos="fade-right", data-aos-delay="900")
    img(src="imgs/contents/federaltransport/1.png", alt="Main")