section#flowersStore.flowers-store
  .top-flowers-store(data-aos="fade-down", data-aos-delay="300")
    h5 2/6
    h5 Flowers Store
  .heading(data-aos="fade-right", data-aos-delay="300")
    h2 Flowers Store
  .flowers-store-description(data-aos="fade-right", data-aos-delay="500")
    h3 Give ur flower a flower
    p Your best choice of stores to give your flower an awesome bouquet of flowers. #[strong Sun flowers are so special here.] Love to visit us.
  .flowers-store-gallery(data-aos="fade-left", data-aos-delay="900")
    img(src="imgs/contents/flowersstore/1.png", alt="Main")