footer
  .footer-text
    .top-footer(data-aos="fade-down", data-aos-delay="300")
      h5 2020
      h5 Coding, #[span Portfolio]
      h5 Abdullah M. Ramdan
    .middle-footer(data-aos="fade-down", data-aos-delay="600")
      h3 Thank you for your time.
    .bottom-footer(data-aos="fade-right", data-aos-delay="900")
      h5 To see more work &amp; contact.
      ul
        li: a(href="mailto:zekas.flower@gmail.com") zekas.flower@gmail.com
        li: a(href="https://github.com/zekasflower") Github.com/zekasflower

