section#govServices.gov-services
  .top-gov-services(data-aos="fade-down", data-aos-delay="300")
    h5 3/6
    h5 مـصـالـح
  .heading(data-aos="fade-left", data-aos-delay="300")
    h2 مصالح
  .gov-services-description(data-aos="fade-left", data-aos-delay="500")
    p شركة مصرية متخصصة في تنفيذ الخدمات الحكومية للمواطن والشركات الناشئة وخدمات المستثمرين.
  .gov-services-gallery(data-aos="fade-right", data-aos-delay="900")
    img(src="imgs/contents/govservices/1.png", alt="Main")