header
  .menu-toggler(data-aos="fade-down", data-aos-delay="300")
    .bar.half.start
    .bar
    .bar.half.end
  nav.top-nav
    ul.nav-list
      li: a.nav-link(href="index.html") Home
      li: a.nav-link(href="#about") About
      li: a.nav-link(href="#contents") Works
      li: a.nav-link(href="#reviews") Reviews
  .landing-text
    .top-land(data-aos="fade-down", data-aos-delay="300")
      h5 2020
      h5 Minia, #[span Egypt]
    .middle-land(data-aos="fade-right", data-aos-delay="500")
      h3 Abdullah M. Ramdan
    .bottom-land(data-aos="fade-up", data-aos-delay="900")
      h1 Portfolio
      h5 Front-end Development