meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Portfolio
link(rel="shortcut icon", href="imgs/favicon.png", type="image/x-icon")
link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
link(rel="stylesheet", href="css/style.css")