section#larry.unknown
  .unknown-1
    .top-unknown(data-aos="fade-down", data-aos-delay="300")
      h5 5/6
      h5 Larry
    .heading(data-aos="fade-right", data-aos-delay="300")
      h2 Larry
    .unknown-description(data-aos="fade-right", data-aos-delay="500")
      p Some pages of a project his owner prefered not to publish the logo
    .unknown-gallery(data-aos="fade-left", data-aos-delay="900")
        img(src="imgs/contents/unknown/2.png", alt="Main")
  .unknown-2
    .top-unknown(data-aos="fade-down", data-aos-delay="300")
      h5 5/6
      h5 Larry
    .unknown-gallery
      .box
        img(src="imgs/contents/unknown/1.png", alt="Profile", data-aos="fade-down", data-aos-delay="300")
      .box
        img(src="imgs/contents/unknown/3.png", alt="Register", data-aos="fade-up", data-aos-delay="800")
