section#mobile.mobile
  .mobile-1
    .top-mobile(data-aos="fade-down", data-aos-delay="300")
      h5 6/6
      h5 Mobile
    .heading(data-aos="fade-in", data-aos-delay="300")
      h2 Responsive Mobile Work
    .mobile-description(data-aos="fade-out", data-aos-delay="400")
      p Some responsive pages on different projects.
    .mobile-gallery
      img(src="imgs/contents/mobile/1.png", alt="Section on gaming website", data-aos="fade-right", data-aos-delay="700")
      img(src="imgs/contents/mobile/2.png", alt="Posts feed", data-aos="fade-right", data-aos-delay="1000")
      img(src="imgs/contents/mobile/3.png", alt="Login", data-aos="fade-in", data-aos-delay="1300")
      img(src="imgs/contents/mobile/4.png", alt="Signup", data-aos="fade-left", data-aos-delay="1600")
      img(src="imgs/contents/mobile/5.png", alt="Settings", data-aos="fade-left", data-aos-delay="2000")
