section#obTravel.ob-travel
  .ob-travel-1
    .top-ob-travel(data-aos="fade-down", data-aos-delay="300")
      h5 1/6
      h5 OB Travel
    .heading(data-aos="fade-right", data-aos-delay="300")
      h2 OB Travel
    .ob-travel-description(data-aos="fade-right", data-aos-delay="500")
      h3 Travel Company Website
      p Your ultimate On Budget Travel companion. Take a new concept about Travelling.
    .ob-travel-gallery
      img(src="imgs/contents/obtravel/2.png", alt="Main", data-aos="fade-left", data-aos-delay="1000")
      img(src="imgs/contents/obtravel/3.png", alt="Options", data-aos="fade-left", data-aos-delay="700")
  .ob-travel-2
    .top-ob-travel(data-aos="fade-down", data-aos-delay="300")
      h5 1/6
      h5 OB Travel
    .ob-travel-gallery
      .box
        img(src="imgs/contents/obtravel/4.png", alt="Menu", data-aos="fade-right", data-aos-delay="300")
        img(src="imgs/contents/obtravel/5.png", alt="Menu toggler", data-aos="fade-right", data-aos-delay="600")
      .box
        img(src="imgs/contents/obtravel/6.png", alt="About", data-aos="fade-left", data-aos-delay="900")
        img(src="imgs/contents/obtravel/7.png", alt="Statistics", data-aos="fade-left", data-aos-delay="1200")
        img(src="imgs/contents/obtravel/12.png", alt="Features", data-aos="fade-left", data-aos-delay="1500")
  .ob-travel-3
    .top-ob-travel(data-aos="fade-down", data-aos-delay="300")
      h5 1/6
      h5 OB Travel
    .ob-travel-gallery
      .box
        img(src="imgs/contents/obtravel/8.png", alt="Gallery", data-aos="fade-right", data-aos-delay="300")
        img(src="imgs/contents/obtravel/9.png", alt="Image opened", data-aos="fade-right", data-aos-delay="600")
      .box
        img(src="imgs/contents/obtravel/13.png", alt="Testimonials", data-aos="fade-left", data-aos-delay="900")
  .ob-travel-4
    .top-ob-travel(data-aos="fade-down", data-aos-delay="300")
      h5 1/6
      h5 OB Travel
    .ob-travel-gallery
      .box
        img(src="imgs/contents/obtravel/11.1.png", alt="Timeline", data-aos="fade-down", data-aos-delay="300")
      .box
        img(src="imgs/contents/obtravel/11.2.png", alt="Timeline", data-aos="fade-down", data-aos-delay="600")
        img(src="imgs/contents/obtravel/11.3.png", alt="Timeline", data-aos="fade-down", data-aos-delay="900")
  .ob-travel-5
    .top-ob-travel(data-aos="fade-down", data-aos-delay="300")
      h5 1/6
      h5 OB Travel
    .ob-travel-gallery
      .box
        img(src="imgs/contents/obtravel/14.png", alt="Contact", data-aos="fade-up", data-aos-delay="300")
        img(src="imgs/contents/obtravel/15.png", alt="Contact", data-aos="fade-up", data-aos-delay="600")
      .box
        img(src="imgs/contents/obtravel/16.png", alt="Contact", data-aos="fade-up", data-aos-delay="900")
