section#reviews.reviews
  .top-reviews(data-aos="fade-down", data-aos-delay="300")
    h5 2020
    h5 Abdullah M. Ramdan
  .left
    .heading(data-aos="fade-right", data-aos-delay="300")
      h2: q Reviews
    .reviews-description(data-aos="fade-right", data-aos-delay="400")
      p What people say about me?!
    .reviews-gallery(data-aos="fade-right", data-aos-delay="600")
      img(src="imgs/reviews/1.svg", alt="Main")
  .right
    .card(data-aos="fade-left", data-aos-delay="900")
      .card-body
        .card-title
          h5 Larry Jordan
          .icons
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
        p.card-text: q All that I can say is wow! He really impressed me with the quality of work! Working with him immediately! #[br] I love working with this guy. takes sketches and makes them a reality. #[br] Great worker and pays attention to detail!
    .card(data-aos="fade-left", data-aos-delay="1200")
      .card-body
        .card-title
          h5 Michael T.
          .icons
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
        p.card-text: q Good designer , happy to meet him , looking to hire him again.
    .card(data-aos="fade-left", data-aos-delay="1500")
      .card-body
        .card-title
          h5 Mohamed E.
          .icons
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
        p.card-text: q Very happy to deal with him, he was fast and helpful The work was done on time.
    .card(data-aos="fade-left", data-aos-delay="1800")
      .card-body
        .card-title
          h5 Vladimir N.
          .icons
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon(name="star")
            ion-icon.gray(name="star")
            ion-icon.gray(name="star")
        p.card-text: q On a PoC 5 page website task (no spec, reference website was provided), freelancer hasn't utilized full potential of Bootstrap (pages without full responsiveness, container, sticky footer,..), stating those requirements should've been explicitly stated. To make things responsive / add appropriate bootstrap classes, additional funds were required (100% increase). Seemingly, freelancer is lacking in creativity, independence, constantly asking for input and checks. Overall communication was good.



