script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="https://unpkg.com/aos@next/dist/aos.js")
script(src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js")
script(src="js/main.js")