<!DOCTYPE html>
html(lang="en")
  head
    include pug/head
  body
    //- Header
    include pug/header

    //- About
    include pug/about

    //- Contents
    include pug/contents

    //- OB Travel
    include pug/obtravel

    //- Flwoers Store
    include pug/flowersstore

    //- Governmental Services
    include pug/govservices

    //- Federal Transport
    include pug/fedtransport

    //- Larry
    include pug/larry

    //- Mobile Work
    include pug/mobile

    //- Reviews
    include pug/reviews

    //- Footer
    include pug/footer

    //- Global
    include pug/global

    //- Scripts
    include pug/scripts
