.unknown {
  & > div {
    height: 1080px;
    min-height: 1080px;
    padding: 5rem;
    position: relative;
  }
  .unknown-1 {
    .top-unknown {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 3rem;
      display: flex;
      h5 {
        flex: 1;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        &:last-of-type {
          text-align: end;
          text-transform: uppercase;
        }
      }
    }
    .heading {
      padding-top: 3rem;
      h2 {
        font-size: 10rem;
        text-transform: uppercase;
        font-family: var(--bold-font);
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 2rem;
          width: 100%;
          height: 2rem;
          background-color: var(--yellow-color);
          z-index: -1;
        }
      }
    }
    .unknown-description {
      margin-top: 2rem;
      float: left;
      width: 25%;
      border-bottom: 1px solid var(--dark-color-50);
      h3 {
        font-size: 3rem;
      }
      p {
        display: inline-block;
        font-size: 1.6rem;
        text-align: justify;
        letter-spacing: 0.2rem;
        opacity: 0.9;
      }
    }
    .unknown-gallery {
      float: right;
      position: relative;
      top: 0;
      right: 3rem;
      z-index: 2;
      img {
        border-radius: 1rem;
        width: 110rem;
        box-shadow: 0 0 5rem -3.5rem var(--dark-color);
      }
    }
  }
  .unknown-2 {
    .top-unknown {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 3rem;
      display: flex;
      h5 {
        flex: 1;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        &:last-of-type {
          text-align: end;
          text-transform: uppercase;
        }
      }
    }
    .unknown-gallery {
      position: relative;
      display: flex;
      flex-direction: column;
      .box {
        img {
          border-radius: 1rem;
          width: 88rem;
          box-shadow: 0 0 5rem -3.5rem var(--dark-color);
        }
        &:first-of-type {
          align-self: flex-end;
          margin-top: 5rem;
        }
        &:last-of-type {
          margin-top: -35rem;
        }
      }
    }
  }
}
